@model UOS.LearningStyle.FinalYear.Domains.CourseGrade
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CourseGradeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course Grade</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-info" onClick="location.href =' @Url.Action("Edit", "CourseGrade", new { id = Model.ID })';return false;">Edit</button>


    @Html.ActionLink("Back to List", "Index")
</p>

