<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Learning Style Application</title>

    @Styles.Render("~/Contentss/css")

    @Scripts.Render("~/bundlesss/scripts")
  
</head>
<body>
   
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
              
                    <li>@Html.ActionLink("Return to Game Page", "Index", "GamingPage")</li>


                  
                </ul>
               
            </div>
     
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Learning Style</p>
        </footer>
    </div>

</body>
</html>
